:root {
  --primary-color: #FDB827;
  --secondary-color: #542583;
}

.app {
  height: 100vh;
}

main {
  height: 100%;
}

.app-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
}

a {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
